* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.left-container, .right-container {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 4rem);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;
}

.input-section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 1rem;
}

.text-input {
  flex: 1;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  outline: none;
}

.text-input:focus {
  -webkit-box-shadow: 0px 0px 12px 1px #008b8b;
  box-shadow: 0px 0px 12px 1px #008b8b;
}

.add-button, .remove-button, .edit-button, .tick-button {
  background: none;
  border: none;
  cursor: pointer;
}

.edit-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.add-icon, .remove-icon, .tick-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.boxes-wrapper {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.box {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.39);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.39);

  margin-bottom: 0.5rem;

  transition: box-shadow .3s ease-in-out;
}

.box:hover {
  -webkit-box-shadow: 0px 0px 12px 1px #008b8b;
  box-shadow: 0px 0px 12px 1px #008b8b;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  flex: 1;
  text-align: left;
}

.remove-button {
  margin-left: 1rem;
}

.translate-button {
  border-radius: 10px;
  border: none;
  background: #008b8b;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  width: 46%;
  padding: 0.5rem;
  cursor: pointer;
}

.reset-button {
  border-radius: 10px;
  border: 2px solid #008b8b;
  background: transparent;
  color: #008b8b;
  font-weight: 600;
  font-size: 1.1rem;
  width: 46%;
  padding: 6px;
  cursor: pointer;
}

.translated-text-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.translated-text {
  flex: 1
}

.copy-button {
  background-color: transparent;
  border: none;
  margin-top: 11px;
  cursor: pointer;
}

.copy-icon {
  width: 24px;
}

.back-arrow-text {
  display: none;
  font-size: 24px;
  font-weight: 600;
  color: #008b8b;
  cursor: pointer;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .container {
    width: fit-content;
  }
  .left-container {
    width: calc(100vw - 2rem);
    padding-right: 2rem;
  }
  .right-container {
    width: calc(100vw - 2rem);
    padding-right: 2rem;
  }
  .back-arrow-text {
    display: block;
  }
}